@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Giga Sans';
  src: url("../fonts/GigaSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
