@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

$main-font: "Giga Sans", sans-serif;
$second-font: "Raleway", sans-serif;


$main-color: #FF5112;
$bg: #ECEFF6;
$blue: #AFD7FF;
$hero: #D6D0B3;
$darkblue: #00468b;
$blueop: rgba(175, 215, 255, 0.5);
$blackgreen: #2F6122;
$lightgreen: #A9CF45;
$grey: #717171;
$border: #B18BFF;
$white: #fff;
$black: #080808;
$size: 16px;

@mixin overFlow {
  overflow: hidden;
  backface-visibility: hidden;
  appearance: none;
}

@mixin flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterH {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexCenterV {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin rtl-margin($property, $ltrproperty, $value, $value2) {
  margin-#{$property}: $value;
  margin-#{$ltrproperty}: $value2;

  [dir=rtl] & {
    margin-#{$ltrproperty}: $value;
    margin-#{$property}: $value2;
  }
}

@mixin rtl-padding($property, $ltrproperty, $value, $value2) {
  padding-#{$property}: $value;
  padding-#{$ltrproperty}: $value2;

  [dir=rtl] & {
    padding-#{$ltrproperty}: $value;
    padding-#{$property}: $value2;
  }
}

@mixin textAlign($property, $property2) {
  text-align: $property;

  [dir=rtl] & {
    text-align: $property2;
  }
}

//fonts

@mixin defaultFont {
  font-style: normal;
  font-weight: normal;
  font-size: vw($size);
  line-height: 1.2;
  color: #fff;
}

@mixin textFont {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
}

@mixin title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 1.11;
  color: #fff;
  strong {
    font-weight: normal;
    color: $main-color;
  }

}

@mixin subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 1;
  color: $black;
}


.btn {
  outline: none;
  background: rgba(255, 255, 255, 0);
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0;
  position: relative;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s ease-in-out;

  z-index: 2;


  .btn-txt {
    font-family: $second-font;
    background: $main-color;
    border: 5px solid $main-color;
    width: 100%;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 15px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease-out;
  }

  &:hover {
    .btn-txt {
      background: #fff;
      color: $main-color;
    }
  }

}

//done px


.modal-window {
  display: none;
}